@page
@model TODOFront.Pages.Tasks.IndexModel
@{
    ViewData["Title"] = "Unimble Task - Atividades";
}
<head>
    <link rel="stylesheet" href="~/css/tasks/index.css" type="text/css" />
</head>


<div>
    <h2 class="text-center display-4">Suas tarefas</h2>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="add-task">
            <input asp-for="NewTask.Description" type="text" class="textbox" placeholder="Nova tarefa..." />
            <span asp-validation-for="NewTask.Description" class="text-danger"></span>

            <input type="submit" class="btn btn-primary btn-add" value="Adicionar" />
        </div>
    </form>

    @if (Model.TasksList!.Count == 0)
    {
        <table class="task-table">
            <thead>
                <tr class="task-row">
                    <td></td>
                    <td>Tarefa</td>
                    <td>Status</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr class="task-row">
                    <td colspan="4">
                        <p>Você ainda não criou nenhuma tarefa.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <table class="task-table">
            <thead>
                <tr class="task-row">
                    <td></td>
                    <td>Tarefa</td>
                    <td>Status</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.TasksList)
                {
                    if (task.Status == 0)
                    {
                        <tr class="task-row">
                            <td>
                                <form method="post" asp-page-handler="Edit" asp-route-id="@task.TaskId">
                                    <input type="checkbox" onchange="toggleRowOpacity(this); this.form.submit();" />
                                </form>
                            </td>
                            <td><p>@task.Description</p></td>
                            @if (task.Status == 0)
                            {
                                <td>Em andamento</td>
                            }
                            else
                            {
                                <td>Concluída</td>
                            }
                            <td>
                                <a asp-page="/Tasks/Edit" asp-route-id="@task.TaskId" class="task-action"><img class="icon" src="~/images/edit.png" alt="Editar"></a>
                                <a asp-page="/Tasks/Remove" asp-route-id="@task.TaskId" class="task-action"><img class="icon" src="~/images/delete.png" alt="Excluir"></a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="task-row checked-row">
                            <td>
                                <form method="post" asp-page-handler="Edit" asp-route-id="@task.TaskId">
                                    <input type="checkbox" onchange="toggleRowOpacity(this); this.form.submit();" checked />
                                </form>
                            </td>
                            <td><p>@task.Description</p></td>
                            @if (task.Status == 0)
                            {
                                <td>Em andamento</td>
                            }
                            else
                            {
                                <td>Concluída</td>
                            }
                            <td>
                                <a asp-page="/Tasks/Edit" asp-route-id="@task.TaskId" class="task-action"><img class="icon" src="~/images/edit.png" alt="Editar"></a>
                                <a asp-page="/Tasks/Remove" asp-route-id="@task.TaskId" class="task-action"><img class="icon" src="~/images/delete.png" alt="Excluir"></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

<script>
    function toggleRowOpacity(checkbox) {
        var row = checkbox.parentNode.parentNode;
        if (checkbox.checked) {
            row.classList.add('checked-row');
        } else {
            row.classList.remove('checked-row');
        }
    }
</script>
